@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Add custom colours to Bootstrap
$custom-colors: (
  "red": $red-600
);

// Merge theme colours with custom colours
$theme-colors: map-merge($theme-colors, $custom-colors);

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
      .border-#{$breakpoint}-right-none {
          border-right:none !important;
      }
    }
  }

@import "../node_modules/bootstrap/scss/bootstrap";