/* Navbar CSS for hover functionality */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
}
.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}
.navbar .nav-item .dropdown-menu .dropdown-item {
    color: grey;
}
.navbar #main-nav {
    justify-content: flex-end;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #930000;
    color: white;
}
.navbar .nav-item .dropdown-menu .dropdown-item:active {
    background-color: #c30000;
    color: white;
}
.navbar .nav-item .dropdown-menu .current:hover {
    background-color: #b6b6b6;
    font-weight: bold;
}

/* Carousel Styling */
.carousel-indicators .active {
    background-color: #c30000;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #292b2c;
}
::-webkit-scrollbar-thumb {
    background: #930000;
}
::-webkit-scrollbar-thumb:hover {
    background: #c30000;
}
